@font-face { font-family: Bloody; src: url(./bloody/BLOODY.TTF); } 

html,body{
    background-image:url(./Imagenes/nackground.png);
    background-color: #000;
    font-family: Bloody, 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    cursor: url(./knife/Normal\ select.cur),auto;
}
h1{
    text-align: center;
    color: #ffff;
}
div{
    color: #8a0606;
    text-align: center;
}
table{
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-spacing: 15px;
    margin: 0 auto;
    cursor: url(./knife/Normal\ select.cur),auto;
}
.tablados{
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-spacing: 15px;
    margin: 0 auto;
    cursor: url(./knife/Normal\ select.cur),auto;
}

td {
    border: 2px solid #ffffff;
    border-radius: 15px;
    width: 100px; 
    height: 150px;
    background-image: url(./Imagenes/Baraja.jpeg);
    background-size: cover;
    cursor: url(./knife/Link\ select.cur),auto;
    transition: 1s;
}
td:active{
    transition: transform 0.2s;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
.botones{
    display: block;
    cursor: url(./knife/Normal\ select.cur),auto;
}

img{
    width: 100%;
    height: 100%;
    display: none;
}
#Winscreen {
    width: device-width;
    height: auto;
    opacity: 0;
    transition: 2;
}
#wincon{
    width: auto;
    height: auto;
    opacity: 0;
    transition: 2;
}
.ContenidoTablas {
    display: flex;
    justify-content: center;
}

button{
    font-family: Bloody;
    margin: 10px;
    padding: 25px 40px;
    border-radius: 15px;
    cursor: url(./knife/Normal\ select.cur),auto;
    cursor:pointer;
    border: none;
    color: #ffffff;
    background-color: #8a0606;
    transition: background-color 0.3s;
}
button:hover{
    background-color: #230658;
    cursor: url(./knife/Link\ select.cur),auto;
}

.boton-reset{
    float: right;
} 